.button {
  color: grey;
  border: 2px solid gainsboro;
  outline: 0;
  background-color: inherit;
  width: 50%;
  padding: 8px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}