.headerContainer {
  padding: 8px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .headerContainer {
    padding: 15px 40px;
    padding-bottom: 8px;
  }
}

.searchContainer {
  padding: 5px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #2ce59b;
}
@media screen and (min-width: 768px) {
  .searchContainer {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .hamburgerIcon {
    display: none;
  }
}

.leftLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.rightLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-right: 5px;
}
@media screen and (min-width: 768px) {
  .rightLogos {
    gap: 25px;
  }
}

.sebet {
  position: relative;
}
@media screen and (min-width: 768px) {
  .sebet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    gap: 20px;
  }
}

.count {
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
  bottom: 10px;
  position: absolute;
  text-align: center;
  padding: 1.2px 6px;
  font-size: 13px;
  background-color: #2dd06e;
  color: white;
  border-radius: 100%;
}
@media screen and (min-width: 768px) {
  .count {
    position: static;
    padding: 1.5px 6px;
  }
}

.navbar {
  z-index: 2;
  width: 100%;
  -webkit-transform: translate(-100%, -113px);
          transform: translate(-100%, -113px);
  list-style: none;
  gap: 20px;
  font-size: 20px;
  background-color: white;
  height: 100vh;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    width: auto;
    background-color: none;
    font-size: 14px;
    padding-left: 20px;
    width: 100%;
    color: #4f4f4f;
    position: static;
    gap: 0px;
  }
  .navbar a {
    color: #4f4f4f;
  }
  .navbar a:focus {
    color: #2dd06e;
  }
}
.navbar a {
  color: black;
}

.active-navBar {
  position: fixed;
  z-index: 2;
  -webkit-transform: translateY(-113px);
          transform: translateY(-113px);
  height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hamburgerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}
@media screen and (min-width: 768px) {
  .hamburgerHeader {
    display: none;
  }
}

.hamburgerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.searchNavIcon {
  color: #1d2123;
  width: 25px;
}

.navList {
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .navList img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navList:hover {
    cursor: pointer;
    color: #2dd06e;
  }
}

.rightIcons {
  rotate: 0deg;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.rightIcon {
  rotate: 90deg;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #faf9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .login {
    display: none;
  }
}