.products {
    @media screen and (min-width: 768px) {
        display: flex;
        width: 90%;
        margin: auto;
        gap: 1px;
        justify-content: center;
    }
}
.cardContainer {
    @media screen and (min-width: 768px) {
        padding: 50px 0px;
        width: 70%;
    }
}
.card {
    @media screen and (min-width: 768px) {
        
                
        gap: 30px;
        width: 100%;
        //   justify-content: flex-start;
    }
    justify-content: center;
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

a{
    @media screen and (min-width: 768px) {
        
  width: 30%;
  color: black;
    }
    width: 180px;
    color: black;
}
   
}
.d {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.select {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selectDesktop {
    @media screen and (max-width: 768px) {
        display: none;

    }

    padding: 10px;
    border-radius: 8px;
    width: 150px;
    border: 1px solid #bdbdbd;
    outline: 0px;
}
.product {
    @media screen and (min-width: 768px) {
        width: 80%;
    }
    width: 97%;
    margin: auto;
}

.title {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;
    }
    padding: 0px 6px;
}

.loader{
    display: flex;
 @media screen and (max-width: 768px) {
   flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
 }
    
  
        svg{
          @media screen and (min-width: 768px) {
            width: 100%;
            height: 100%;
          
          }
          width: 180px;
          height: 200px;
        }
      }
