.message{display: flex;
flex-direction: column;
justify-content: center;height: 500px;
align-items: center;
gap: 10px;
p{ text-align: center;
    width: 300px;
    font-weight: 600;
}
img{
    width: 300px;
}}