.headerContainer {
    img:hover{
        cursor: pointer;
        

    }

    @media screen and (min-width: 768px) {
        padding: 15px 40px;
        padding-bottom: 8px;
    }

    padding: 8px 20px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
}
.searchContainer {
    @media screen and (min-width: 768px) {
    }
    padding: 5px 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #2ce59b;
    
}
.hamburgerIcon {
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.leftLogos {
    display: flex;
    align-items: center;
    gap: 30px;
}
.rightLogos {
    @media screen and (min-width: 768px) {
        gap: 25px;
    }
    display: flex;
    gap: 10px;
    padding-right: 5px;
}

.sebet {
    @media screen and (min-width: 768px) {
        display: flex;
        position: static;
        gap: 20px;
    }
    position: relative;
}
.count {
   
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        padding: 1.8px 6px;
        width: 20px;
        height: 20px;
    }
    
    transform: translate(-10px);
    bottom: 10px;
    
    position: absolute;
    text-align: center;
    
    padding: 1.2px 6px;
    font-size: 13px;
    
    background-color: #2dd06e;
    color: white;
    border-radius: 100%;
}

.navbar {
    z-index: 2;
    @media screen and (min-width: 768px) {
        a {
            color: #4f4f4f;
            &:focus {
                color: #2dd06e;
            }
        }
        
        display: flex;
        transform: translateY(0px);
        transition: 0s;
        flex-direction: row;
        height: auto;
        width: auto;
        background-color: none;
        font-size: 14px;
        padding-left: 20px;
        width: 100%;
        color: #4f4f4f;
        position: relative;
        gap: 0px;
    }
    width: 100%;
    transform: translate(-100%, -133px);
    
    list-style: none;
    gap: 20px;
    font-size: 20px;
    background-color: white;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    display: flex;
    transition: 0.5s;
    a {
        color: black;
        
    }
}
.active-navBar {
    overflow: auto;
    position: fixed;
    z-index: 2;
    transform: translateY(-133px);
    min-height: 100vh;
    transition: 0.5s;
    display: flex;
}
.hamburgerHeader {
    @media screen and (min-width: 768px) {
        display: none;
    }
    
    display: flex;
    justify-content: space-between;
    
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.hamburgerMenu {
    display: flex;
    align-items: center;
    gap: 20px;
}
.searchNavIcon {
    color: #1d2123;
    width: 25px;
}
.navList {
    @media screen and (min-width: 768px) {
        img {
            display: none;
        }
        padding-bottom: 10px;
        position:static;
    }
    position: relative;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.navList:hover {
    @media screen and (min-width: 768px) {
        cursor: pointer;
        color: #2dd06e;
    }
}
.categoriesWindow{
    @media screen and (max-width : 768px ) {
        display: block;
        transform: translateY(0);
        position: relative;
        background-color: white;
        // top: 0px;
font-size: 17px;
        z-index: 0;
display: flex;

height: auto;
flex-direction: column;
padding: 30px 20px;
gap: 20px;
        

        width: 100%;
        
    }
    position: absolute;
    border-bottom: 1px solid grey;
    top: 0px;
    height: 300px;
    display: none;
    padding: 30px;
    transform: translateY(34px);
    width: 100vw;
    right: 0px;
    z-index: 2;
    gap: 20px;
    color: #1d2123;
    display: none;
    background-color: white;
    
}

.display_none{
    @media screen and (min-width: 768) {
        display: block;
        
    }
    
    display: none;
}

.active-parentCategory{

@media screen and (max-width: 768px) 
{
    
}

}

.navList:hover + .categoriesWindow{
    @media screen  and (min-width: 768px) {
        
        display: flex;
    }
    
}
.categoriesWindow:hover{
    @media screen  and (min-width: 768px) {
        
        display: flex;
    }
    
}

.rightIcons {
    img{

        rotate: 0deg;
        transition: 0.5s;
    }
}
.rightIcon {
    img{

        rotate: 90deg;
        transition: 0.5s;
    }
}
.login {
    @media screen and (min-width: 768px) {
        display: none;
    }

    flex-grow: 1;
    background-color: #faf9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
