.loginContainer{
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-around;
        
        // align-items: center;
        // padding-left: 300px;
    }
    a{
        &:hover{
            color: #36F;
            text-decoration: underline;
        }
    }
    padding: 50px 0;
}

.loginSideImg{
@media screen and (min-width: 768px) {

    display: flex;// flex-grow: 1;
    // width: 50%;
    padding-top: 40px;

    // justify-content: flex-end;
    // width: 100%;
background-color: white;
    
}
    display: none;
}
.img1{ 
    position: relative;
    z-index: 1;
 
    // background-color: red;
}
.img2{
background-color: white;
   position: relative;
   transform: translate(260px, -300px);
}
.Login{
    // padding: 70px 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
gap: 25px;
h2{color: #4F4F4F;

}

.and{
    color: #BDBDBD;
}
}
.LoginSocial{ 
    justify-content: center;
    width: 330px;
    color: #4F4F4F;
    display: flex;
    align-items: center;
    gap: 40px;
}
.socialSign{
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.SignFb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 20px;
background: #4267B2;
}
.SignGoogle{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 20px;
background: #DB4437;
}




