

  @font-face {
    font-family: myFirstFont;
    src: url(./assets/fonts/euclid-circular-a-cufonfonts/Regular.ttf)
  }
*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: myFirstFont;
    list-style: none;
}
a{
  text-decoration: none;

  
}
::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}
.breadCrumbs{
  display: flex;
  align-items: center;
}
.breadCrumbs a{
  color: black;
}

@media screen and (max-width: 768px) {
  .breadCrumbs{
display: none;
  }
  
}